.advert {
    padding: 0px 185px;
    height: 202px;
    width: 1440px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: url('/assets/images/advert_bgc.png');
    background-color: #f5bde2;

    .advert_text {
        font-family: "Rubik", sans-serif;
        font-size: 48px;
        color: #414141;
    }

}