.user_modal {
    position: absolute;
    width: 100%;
    height: 100%;
    justify-content: center;
    z-index: 1;
    align-items: center;
    background-color: #fcd5ba96;
    display: none;
}

.modal_box {
    width: 420px;
    height: 431px;
    background-color: #fff;
    border: #414141 solid 1px;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 2;
    top: 166px;
    left: 504px;

    .box_title {
        font-family: "Rubik", sans-serif;
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 32px;

    }

    .number_box {

        .num_text {
            padding: 0;
            margin: 0;
            font-family: "Rubik", sans-serif;

        }

        .number {
            width: 260px;
            height: 60px;
            border: #70C05B solid 1px;
        }


    }

    .access_button {
        width: 260px;
        height: 68px;
        background: #FCD5BA;
        margin: 32px 0;

    }


}