main {
    background: #FBF8EC;
}

.product_pagination {
    .pages {
        font-family: "Rubik", sans-serif;
        color: #414141;

        &:last-child {
            color: #8F8F8F;
        }
    }

}


.single_product_details {
    .product_images {
        width: 50%;
        height: 496px;

        display: grid;
        grid-template-areas:
            "one five five five five five  five five"
            "two five five five five five  five five"
            "three five five five five five five five"
            "four five five five five five  five five"

        ;
        gap: 16px;

        .one {
            grid-area: one;
        }

        .two {
            grid-area: two;
        }

        .three {
            grid-area: three;
        }

        .four {
            grid-area: four;
        }

        .five {
            grid-area: five;

            img {
                width: 504px !important
            }

            .percent {
                width: 56px;
                height: 32px;
                background: #FF6633;
                color: #fff;
                text-align: center;
                top: 31px !important;
                right: 20px !important;
            }
        }
    }

    .grid_items {
        // border: black solid 1px;
        width: fit-content;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #fff;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        cursor: pointer;

        .grid_image {

            width: 64px;


        }




    }


}


.product_info {
    font-family: "Rubik", sans-serif;


    .cart_btn_wrapper {
        .to_cart_btn {
            width: 279px;
            height: 60px;
            background: #FF6633;
            border: none;
            color: #fff;
        }
    }

    .infos {
        .info_wrapper {
            background-color: #F3F2F1;

            &:nth-child(2) {
                background-color: #FBF8EC;
            }
        }
    }

}