.footer {
    font-family: "Rubik", sans-serif;
    background-color: #F9F4E2;
    background-image: url(/assets/images/footer_bg_image.png);

    .footer_navbar {

        .navbar_list {
            list-style: none;

            font-size: 12px;
            color: #414141;

        }

    }
}