* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}
header .top {
  padding: 16px 116px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .top .top_search_and_category {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 10px;
}
header .top .top_search_and_category .catalog {
  text-decoration: none;
  background-color: #70C05B;
  width: 140px;
  height: 40px;
  border-radius: 4px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
header .top .top_search_and_category .catalog .catalog_text {
  color: #fff;
  font-family: "Rubik", sans-serif;
}
header .top .top_search_and_category .search {
  width: 360px;
  height: 40px;
}
header .top .top_product_boxes {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 10px;
}
header .top .top_product_boxes .product_box {
  display: flex;
  flex-direction: column;
  align-items: center;
}
header .top .user_account {
  display: flex;
  justify-self: start;
  align-items: center;
}
header .top .user_account .user_name {
  font-family: "Rubik", sans-serif;
}
header .category_drop_down {
  display: none;
  justify-content: space-between;
  align-items: flex-start;
  padding: 16px 116px;
  position: absolute;
  background: #ffffff;
  z-index: 2;
  width: 100%;
}
header .category_drop_down .category_products .product {
  line-height: 2.5;
  font-family: "Rubik", sans-serif;
}

.categories .categories_pagination {
  font-family: "Rubik", sans-serif;
}
.categories .categories_pagination .main_page,
.categories .categories_pagination .arrow,
.categories .categories_pagination .categories_page {
  margin-right: 10px;
}
.categories .categories_title {
  font-family: "Rubik", sans-serif;
}
.categories .categories_page {
  color: #8F8F8F;
}

.categories_grid {
  display: grid;
  grid-template-areas: "one one two three" "four five six seven" "eight nine ten ten ";
  gap: 40px;
}
.categories_grid .one {
  grid-area: one;
}
.categories_grid .two {
  grid-area: two;
}
.categories_grid .three {
  grid-area: three;
}
.categories_grid .four {
  grid-area: four;
}
.categories_grid .five {
  grid-area: five;
}
.categories_grid .six {
  grid-area: six;
}
.categories_grid .seven {
  grid-area: seven;
}
.categories_grid .eight {
  grid-area: eight;
}
.categories_grid .nine {
  grid-area: nine;
}
.categories_grid .ten {
  grid-area: ten;
}
.categories_grid .grid_items {
  height: 200px;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: end;
  align-items: end;
  position: relative;
}
.categories_grid .grid_items::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgba(52, 255, 0, 0) 25%, rgb(52, 255, 0) 100%, rgb(52, 255, 0) 100%);
}
.categories_grid .grid_items .grid_items_text {
  color: #fff;
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  font-weight: bold;
  position: absolute;
  left: 10px;
}

.footer {
  font-family: "Rubik", sans-serif;
  background-color: #F9F4E2;
  background-image: url(/assets/images/footer_bg_image.png);
}
.footer .footer_navbar .navbar_list {
  list-style: none;
  font-size: 12px;
  color: #414141;
}

.user_modal {
  position: absolute;
  width: 100%;
  height: 100%;
  justify-content: center;
  z-index: 1;
  align-items: center;
  background-color: rgba(252, 213, 186, 0.5882352941);
  display: none;
}

.modal_box {
  width: 420px;
  height: 431px;
  background-color: #fff;
  border: #414141 solid 1px;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 2;
  top: 166px;
  left: 504px;
}
.modal_box .box_title {
  font-family: "Rubik", sans-serif;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 32px;
}
.modal_box .number_box .num_text {
  padding: 0;
  margin: 0;
  font-family: "Rubik", sans-serif;
}
.modal_box .number_box .number {
  width: 260px;
  height: 60px;
  border: #70C05B solid 1px;
}
.modal_box .access_button {
  width: 260px;
  height: 68px;
  background: #FCD5BA;
  margin: 32px 0;
}/*# sourceMappingURL=Categories_global.css.map */